# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build
.turbo
.expo
apps/mobile/dist

# Environment
.env
.env.local
.env.production
.env.*.local
!.env.example

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.stitch-downloads/debug/

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Misc
*.tsbuildinfo
next-env.d.ts

# Docker
.docker

# Turbo
.turbo/cache
